<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing WooCommerce">
    <test name="Happy Path">
         <classes>
             <class name="happyPathTestCases.CheckoutTestCases"/>
             <class name="happyPathTestCases.MyAccountTestCases"/>
             <class name="happyPathTestCases.SearchTestCases"/>
             <class name="happyPathTestCases.ShopTestCases"/>
          </classes>
     </test> <!-- Test -->
     <test name="Administrator Regression">
     	<classes>
     		<class name="adminTestCases.UserTestCases"/>
     	</classes>
     </test>
</suite> <!-- Suite -->